<div ng-if="list.foundItems.length > 0" class="table-responsive">
  <table class="col-lg-12 table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Short Name</th>
      <th>Description</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in list.foundItems">
      <td>{{item.name}}</td>
      <td>{{item.short_name}}</td>
      <td>{{item.description}}</td>
      <td><button ng-click="list.onRemove({index: $index})">Don't want this one!</button></td>
    </tr>
    </tbody>
  </table>
</div>
<div class="error col-lg-3" ng-if="list.foundItems && list.foundItems.length == 0">Nothing found</div>
